body{
  background: #FFF url(/public/gustavo.gif) no-repeat top right -15px;
  background-size: 33%;
  margin-top: -15px;
}

.masthead-title small {
font-size: 50%;
font-weight: 400;
color: #c0c0c0;
letter-spacing: 0;
}
